<template>
  <div
    class="cards"
  >
    <SwipeCard
    v-for="(card, index) in cards"
    :key="card"
    :card="card"
    :is-current="index === 0"
    />
  </div>
</template>

<script>
// import SwipeCard from '@/Shared/SwipeCard.vue'
export default {
    components: {
        SwipeCard,

    },
    props: {
        cards: {
            type: Array,
            required: true
        },
    },

}
</script>

<style>

</style>
