<template>


    <Swipeable
        v-for="(card) in users.data"
        :key="card.id"
        v-on:swipe="onSwipe"
        class="w-72 h-45 transform transition-all skew-x-12 -skew-y-12 absolute rounded-lg flex flex-col justify-center items-center"
        :id="card.id"
    >
            <img :src="card.photo ?? 'https://joeschmoe.io/api/v1/mail@ashallendesign.co.uk'" class="w-full h-full rounded-full" />
            <div class="flex flex-col justify-center items-center w-full bg-white rounded-lg p-2">
                <div class="flex justify-evenly items-center w-full bg-white ">
                    <div class="text-center text-dark-500 text-xl font-bold">
                        {{ card.name }}
                    </div>
                    <div class="text-center text-dark-500 text-xl font-bold">
                        {{ card.age ?? 'N/A' }}
                    </div>
                </div>
                <div class="flex justify-evenly items-center w-full bg-white pt-2">
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500" @click="dislike(card)">
                        Dislike
                    </button>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500" @click="like(card)">
                        Like
                    </button>
                </div>
            </div>
    </Swipeable>
</template>

<script>
import { Swipeable } from "vue-swipy";


export default {
    name: "SwipeCard",
    components: {
        Swipeable,
    },
    props: {
        users: {
            type: Object,
            required: true,
        },
    },
    mounted() {

    },
    methods: {
        onSwipe(direction) {
            console.log(direction);
            setTimeout(() => {
                let user = this.users.data.pop();
                if (direction === "swipe-right" || direction === "swipe-up") {
                axios.post(`/users/${user.id}/like`).then((response) => {
                    console.log(response);
                });
            } else {
                axios.post(`/users/${user.id}/dislike`).then((response) => {
                    console.log(response);
                });
            }
            }, 400);
            if (this.users.data.length === 1) {

                if (this.users.links.next) {
                    this.$inertia.get(this.users.links.next, {}, {
                        preserveState: false,
                        only: ["users"],
                        OnSuccess: (response) => {
                            // console.log(response);
                            this.users = response.data;
                        }
                     });

                }
            }
        },
        like(card) {
            let divCard = document.getElementById(card.id);
            setTimeout(()=>{
                divCard.style.transform = "translate3d(450px, 0, 0) rotate(30deg)";
                divCard.style.transition = "all 0.4s ease-in-out";
                this.onSwipe('right');
            },100);

        },
        dislike(card) {
            let divCard = document.getElementById(card.id);
            setTimeout(()=>{
                divCard.style.transform = "translate3d(-450px, 0, 0) rotate(-30deg)";
                divCard.style.transition = "all 0.4s ease-in-out";
                this.onSwipe('left');
            },100);
        },

    },
}
</script>

<style>

.card{
    position: absolute;
    width: 250px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
}
</style>
