<script>
import AppLayout from '@/Layouts/AppLayout.vue';
import Welcome from '@/Jetstream/Welcome.vue';
import SwipeCard from './Shared/SwipeCard.vue';

export default {
    components: {
        AppLayout,
        Welcome,
        SwipeCard,
    },
    props: {
        users: {
            type: Object,
            required: true,
        },
    }
};
</script>

<template>
    <AppLayout title="Home" class="h-screen">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Home
            </h2>
        </template>
        <div class="flex flex-col justify-center items-center min-h-screen min-w-screen bg-gray-100 relative">
            <h1 class="text-4xl text-center text-gray-800 absolute top-20 mt-2">
                Swipe cards to find your match!
            </h1>
            <SwipeCard
            v-if="users.data.length"
            :users="users"
            />
            <div class="flex justify-center items-center h-48 w-48 bg-gray-200 rounded-full border-2 border-gray-400 p-2 absolute bottom-96 animate-bounce" v-else>
                <p class="text-center text-dark-500 text-xl font-bold">
                    No more users to swipe!
                </p>
            </div>
        </div>
    </AppLayout>
</template>
