<template>
  <div class="relative h-10 m-1">
    <div class="grid grid-col-6">
      <input
        type="text"
        v-model="message"
        @keyup.enter="sendMessage()"
        class="
          w-full
          h-10
          p-2
          bg-gray-200
          rounded-lg
          text-gray-800
          focus:outline-none focus:shadow-outline
        "
        placeholder="Type a message..."
      />
      <button @click="sendMessage()" class="absolute right-0 top-0 mr-0 bg-gray-500 hover:bg-blue-700 text-white p-2 rounded-lg">
        Send
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    room: {
      type: Object,
      required: true,
    },
  },
    data() {
        return {
        message: '',
        };
    },
    methods: {
        sendMessage() {
            if (this.message.length > 0) {
                axios.post('/chat/room/' + this.room.id + '/message', {
                    message: this.message,
                }).then(response => {
                    if( response.status == 201) {
                        this.message = '';
                        this.$emit('message-sent', response.data);
                    }
                }).catch(error => {
                    console.log(error);
                });
            }
        },
    }
};
</script>

<style>
</style>
