<template>
    <div class="feed" ref="feed">
        <ul v-if="match">
            <li v-for="message in messages" :key="message.id">
                <!-- <div class="avatar">
                    <img :src="message.user.photo" />
                </div> -->
                <div :class="`message ${message.from_id === $page.props.user.id ? 'sent' : 'received'}`">
                    <!-- <div class="name">{{ message.user.name }}</div> -->
                    <!-- <div class="email">{{ message.user.email }}</div> -->
                    <div class="content">{{ message.message }}</div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props: {
        messages: {
            type: Array,
            required: true,
        },
        match: {
            type: Object,
            required: true,
        },
    },
    methods: {
        scrollToBottom() {

            setTimeout(() => {
                this.$refs.feed.scrollTop = this.$refs.feed.scrollHeight - this.$refs.feed.clientHeight;
            }, 50);

            // this.$nextTick(() => {
            //     this.$refs.feed.scrollTop = this.$refs.feed.scrollHeight;
            // });
        },
    },
    watch: {
        match() {
            console.log('match changed');
            this.scrollToBottom();
        },
        messages: {
            handler() {
                this.scrollToBottom();
            },
            deep: true,
        },
    },


}
</script>

<style lang="scss" scoped>
.feed {
    background-color: #fff;
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
    border-right: 1px solid #e6e6e6;
    ul {
        list-style: none;
        padding: 5px;
        li {
            .message {
                margin: 10px 0;
                width: 100%;
            }
            .content{
                display: inline-block;
            }
            .received {
                text-align: left;
                .content {
                    background-color: #f5f5f5;
                    border-radius: 5px;
                    padding: 10px;
                    margin-left: 10px;
                    border: 1px solid #e6e6e6;
                    max-width: 80%;
                }
            }
            .sent {
                text-align: right;
                .content {
                    background-color: #2196f3;
                    border-radius: 5px;
                    padding: 10px;
                    margin-right: 10px;
                    border: 1px solid #2196f3;
                    max-width: 80%;
                }
            }
        }
    }
}
</style>
